.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem 2rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(0.5turn);
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}
.checkbox {
}

.text {
  font-size: medium;
  font-weight: var(fw-normal);
  margin-left: 0.5rem;
}
.pokemon__name {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: var(fw-bold);
}
.pokemon__image {
}

.pokemon__abilities {
  transform: var(--level-two);
  text-transform: capitalize;
  letter-spacing: 4px;
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
  overflow-wrap: break-word;
}

.pokemon__stats {
  margin-top: 20px;
  transform: var(--level-two);
  text-transform: capitalize;
  letter-spacing: 4px;
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
  overflow-wrap: break-word;
}
