.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 1rem;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}

.logo {
  padding: 0 1rem;
}

.form {
  /* display: flex; */
  /* justify-content: center; */
  font-size: small;
}

.input {
  border-color: transparent;
}

.filter__button__container {
  display: flex;
  justify-content: center;
}
.filter__button {
  margin: 0 0.5rem;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  color: var(--color-accent);
  font-weight: bold;
  opacity: 0.8;
  outline: var(--color-white);
}

.search__button {
  background-color: red;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: transparent;
}
